.email{
  font-family: Arial, Helvetica, sans-serif;
  color: grey;
  vertical-align: top;
  margin-top: 0;
  margin-bottom: 10px;
}

.inputbox{
  padding-right: 230px;
  border-color: black;
  padding-bottom: 5px;
  border-radius: 4px;
  text-align: left;
  
}

.Terms{
  color: grey;
  font-family: Arial, Helvetica, sans-serif;
  font-size: 15px;
}

.final{
  
  font-family: Arial, Helvetica, sans-serif;
  text-align:center;
  color:white;
  padding-top: 12px;
  margin-bottom: 0px;
  height: 35px;
  width: 385px;
  border-radius:35px;
  background-color: rgb(19, 97, 205);
  cursor: pointer;
}

.final:hover{
  opacity:0.5
}
.final:active{
  opacity:0.6
}